.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 옛날 서버파일
server__

# client용 깃
client/.git

# server용 깃
server/.git
server/db/dbconfig.js
server/.gitignore

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
